body.light {
    background-color: #f2f2f2;
    color: #000;
}

body.dark {
    background-color: #121212;
    color: #fff;
}

body.dark .todo-wrapper {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}

body.dark input[type="text"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark .addbtn {
    background-color: #007bff;
}

body.dark .addbtn:hover {
    background-color: #0056b3;
}

body.dark .statusbtn {
    background-color: #555;
}

body.dark li {
    background-color: #2a2a2a;
    color: #fff;
}

body.dark .filter-buttons button {
    background-color: #333;
    color: #fff;
}

body.dark li button {
    background-color: #c82333;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.todo-wrapper {
    background: inherit;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.todo-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 65%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.addbtn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.statusbtn {
    padding: 10px 15px;
    background-color: #d9e6dc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.addbtn:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.filter-buttons button {
    margin-top: 10px;
    margin-right: 8px;
    padding: 6px 12px;
    background-color: rgb(235, 235, 235);
}

.toggle-theme {
    text-align: right;
    margin-bottom: 10px;
}